html, body {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
}

#hud {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	height: 100vh;
	width: 100vw;
}

#game-screen {
	display: block;
	height: 100%;
	width: 100%;
}

#game-canvas {
	height: 100%;
	width: 100%;
	background-color: #1F2540;
	image-rendering: optimizeSpeed;
	image-rendering: -o-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}